@import-normalize;
/* bring in normalize.css styles */
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600);


* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 160%;
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, 'Manrope' 'Delicious Handrawn', BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {

  color: inherit;
}